*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/***************************HEADER************************/
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
header img{
    width: 100px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(78, 78, 78);
    font-family: 'Raleway', sans-serif;
    margin: 0px 10px;
}
/**************************MAIN***************************/
main{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first{
    width: 90%;
    margin-bottom: 50px;
}
.first img{
    width: 100%;
    
}
.first h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: hsl(243, 87%, 12%);
}
.first p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    margin: 20px;
}
.first form{
    display: flex;
    flex-direction: column;
}
.first-email{
    height: 45px;
    border-radius: 5px;
    border: 2px solid rgb(179, 179, 179);
    margin-bottom: 15px;   
}
.first-submit{
    height: 45px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: white;
    width: 100%;
    text-align: center;
}
.second{
    width: 100%;
    margin-top: 70px;
    background-color:  hsl(240, 75%, 98%);
}
.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    background-image: url(./fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg);
    background-size: 300% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.imagen img{
    width: 90%;
    margin-bottom: 60px;
    margin-top: 100px;
}
.second h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: hsl(243, 87%, 12%);
    margin-bottom: 20px;
}
.second-p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 92, 92);
    margin-left: 20px;
    margin-top: 20px;
}
.second a{
 margin-top: 35px;
 text-decoration: underline color rgb(51, 158, 140);
 color: rgb(51, 158, 140); 
 font-family: 'Open Sans', sans-serif;
}
.recomendation{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 70px;
    box-shadow: 0 0 7px #00000050; 
    border: none;
}
.feedback{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: hsl(243, 87%, 12%) ;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.arriba{
    width: 18px;
    position: relative;
    top: 20px;
    left: 20px;
}
.person{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}
.name{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%); 
    font-size: 10px;
    margin-left: 5px;
}
.position{
    color: hsl(243, 87%, 12%); 
    font-size:8px; 
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
.person img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.singin-dads{
    width: 100%;
    background-color: hsl(238, 22%, 44%); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#singin{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#singin h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 40px;
}
#singin p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 10px 0px;
}
#singin form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 50px;
}
#singin input{
   border-radius: 2px;
   height: 35px;
   margin-bottom: 10px;
   border: none;
}
.second-email{
    color: rgb(179, 179, 179);
}
.second-submit{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(224, 93%, 58%);
    color: white;
}
/***********************FOOTER*********************/
footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-izq{
    width: 90%;
}
.contact img{
    margin-top: 50px;
    width: 200px;
    margin-bottom: 30px;
}
.contact{
    font-family: 'Open Sans', sans-serif;
}
.contact p{
    margin-bottom: 10px;
}
.contact p span{
    margin-right: 10px;
}
.links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}
.links a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.networks{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.networks i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 40px;
}
@media only screen and (min-width:800px){
    header{
        justify-content: space-between;
    }
    header img{
        margin-left: 40px;
    }
    nav{
        margin-right: 40px;
    }
    .first{
        display: flex;
        flex-direction: row-reverse;
    }
    .first img{
        width: 50%;
    }
    .first h2{
        text-align: start;
        font-size: 20px;
    }
    .first p{
        text-align: start;
        margin-left: 0;
    }
    .first form{
        flex-direction: row;
    }
    .first-email{
        width: 65%;
        margin-right: 10px;
    }
    .first-submit{
        width: 40%;
    }
    .second{
        width: 100%;
       display: flex;
       justify-content: center;
        background-image: url(./fylo-landing-page-with-two-column-layout-master/images/bg-curve-desktop.svg);
    }
    .fake-second{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        margin-top: 30px;
    }
    .imagen img{
        width: 100%;
        height: fit-content;
    }
    .imagen{
        background-image: none;
        background-color: hsl(240, 75%, 98%);
    }
    .second-p{
        margin-left: 0;
        margin-top: 10px;
    }
    .second h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .recomendation{
        margin-top: 35px;
    }
    .second a{
        margin-top: 25px;
    }
    .edit{
        align-items: start;
    }
    #singin{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #singin h3{
        text-align: start;
    }
    #singin p{
        text-align: start;
        margin: 20px 0;
        width: 70%;
    }
    #singin form{
        width: 100%;
    }
    .second-submit{
        width: 40%;
    }
   .last-izq{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
   }
   .networks{
    height: fit-content;
   }
}